* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', serif;
}
ol,
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
p {
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
/* ==Navber start here== */
.navbar {
  padding: 25px 0;
}
.navbar-expand-lg .navbar-nav {
  flex-direction: row;
  margin-left: 100px;
}
.nav-item .nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #121212;
  opacity: 0.7;
}
.navbar-expand-lg .navbar-nav {
  column-gap: 20px;
}
.form-control {
  margin-right: 80px;
  margin-left: 15px;
}
.s_nev_search {
  position: relative;
}
.s_nev_search i {
  position: relative;
  left: -118px;
  top: 13px;
}
.s_nev_search input::placeholder {
  font-size: 17px;
  font-weight: 400;
  opacity: 0.3;
  color: #121212;
}
.s_nev_search .nav_form {
  padding: 10px 40px 10px 28px;
  border: 1px solid #fff;
  border-radius: 20px;
  background: rgba(69, 110, 214, 0.05);
}
.nav_item {
  margin-left: 60px;
  display: flex;
  column-gap: 40px;
  align-items: center;
}
.nav_item .nav_item1 img {
  max-width: 105px;
}
/* ==Navber end here== */

/* ==Checkout start here== */
#checkout {
  margin-top: 63px;
}
.checkout_left h1 {
  font-size: 36px;
  font-weight: 600;
  color: #121212;
  line-height: normal;
  margin-bottom: 22px;
}
.checkout_left strong {
  font-size: 18px;
  font-weight: 500;
  color: #121212;
  line-height: normal;
  opacity: 0.7;
}
.Set_order_pay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 11px;
}
.pay1_item {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-top: 15px;
}
.pay2_item {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-top: 15px;
}
.pay1_item img {
  margin-bottom: 17px;
}
.pay1_item span {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 50%;
  background-color: #456ed6;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
.pay2_item span {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 50%;
  border: 1px solid #456ed6;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  color: #456ed6;
}
.pay1_item p {
  font-size: 16px;
  font-weight: 500;
  color: #121212;
}
.pay2_item p {
  font-size: 16px;
  font-weight: 500;
  color: #121212;
}
.c_box_1 {
  padding: 25px 51px 33px 33px;
  border-radius: 32px;
  border: 1px solid #9f9f9f;
  display: flex;
  column-gap: 24px;
  margin-top: 40px;
}
.c_box_2 {
  padding: 25px 51px 33px 33px;
  border-radius: 32px;
  border: 1px solid #9f9f9f;
  display: flex;
  column-gap: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.c_box_1_left i {
  color: #456ed6;
  font-size: 18px;
}
.c_box_1_right h3 {
  font-size: 24px;
  font-weight: 600;
  color: #121212;
}
.c_box_1_right h5 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 23px;
  line-height: normal;
  margin-bottom: 13px;
  color: #121212;
}
.c_box_1_right p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;
  color: #121212;
  line-height: normal;
}
.c_box_1_right a {
  padding: 12px 15px;
  border-radius: 15px;
  font-size: 19px;
  font-weight: 400;
  border: 1px solid #456ed6;
}
.c_box_2_right h3 {
  font-size: 24px;
  font-weight: 600;
  color: #121212;
}
.c_box_2_right strong {
  font-size: 18px;
  font-weight: 500;
  color: #121212;
  opacity: 0.7;
}
.nike {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  column-gap: 180px;
}
.nike_item {
  display: flex;
  column-gap: 20px;
}
.nike_item1 h5 {
  font-size: 24px;
  font-weight: 600;
  color: #121212;
}
.nike_item1 h6 {
  font-size: 18px;
  font-weight: 500;
  color: #121212;
  line-height: normal;
  margin-top: 5px;
  margin-bottom: 7px;
}
.nike_item1 p {
  font-size: 14px;
  font-weight: 400;
  color: #121212;
  opacity: 0.76;
}
.nike .n_r {
  font-size: 18px;
  font-weight: 500;
  color: #121212;
}
.c_box_2_left i {
  color: #456ed6;
  font-size: 18px;
}
.c_box_3 {
  padding: 25px 51px 33px 33px;
  border-radius: 32px;
  border: 1px solid #9f9f9f;
  display: flex;
  column-gap: 24px;
}
.c_box_3_right h3 {
  font-size: 24px;
  font-weight: 600;
  color: #121212;
  margin-bottom: 30px;
}
.c_b_r_item {
  padding: 26px 24px 26px 34px;
  border-radius: 20px;
  border: 1px solid #9f9f9f;
  display: flex;
  justify-content: space-between;
  width: 637px;
  align-items: center;
}
.c_b_r_item span {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  color: #121212;
}
.c_b_r_item i {
  color: #9f9f9f;
}
.c_b_r_item1 {
  padding: 18px 24px 27px 34px;
  border-radius: 20px;
  border: 1px solid #9f9f9f;
  display: flex;
  justify-content: space-between;
  width: 637px;
  margin-top: 15px;
}

.c_b_r_item1_lt span {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color: #121212;
  line-height: normal;
  margin-bottom: 19px;
}
.c_b_r_item1_lt1 {
  display: flex;
  align-items: center;
  column-gap: 26px;
}
.c_b_r_item1_lt1 strong {
  font-size: 18px;
  font-weight: 400;
  color: #121212;
  opacity: 0.76px;
}
.c_b_r_item1_rt {
  display: flex;
  column-gap: 19px;
}
.c_b_r_item1_rt span {
  font-size: 18px;
  font-weight: 400;
  color: #121212;
  opacity: 0.76;
}
.c_b_r_item1_rt i {
  opacity: 0.76;
}
/* =================== */
.checkout_right {
  padding: 24px;
  border-radius: 32px;
  border: 1px solid #9f9f9f;
  width: 410px;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.promo_code {
  padding: 20px 0px 20px 20px;
  border-radius: 20px;
  border: 1px solid #9f9f9f;
  display: flex;
  column-gap: 17px;
  align-items: center;
  margin-bottom: 26px;
}
.promo_code h5 {
  font-size: 24px;
  font-weight: 500;
  color: #121212;
}
.checkout_right h6 {
  font-size: 18px;
  font-weight: 500;
  color: #121212;
}
.promo_code_item {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  position: relative;
  margin-bottom: 48px;
}
.promo_code_item1 {
  display: flex;
  justify-content: space-between;
}
.promo_code_item1 span {
  font-size: 17px;
  font-weight: 500;
  color: #121212;
  opacity: 0.5;
}
.promo_code_item::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #c4c4c4;
}
.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.total strong {
  font-size: 18px;
  font-weight: 500;
  color: #121212;
}
.checkout_button a {
  display: inline-block;
  padding: 20px 57px 20px 55px;
  border-radius: 20px;
  background: #456ed6;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
/* ==Checkout end here== */
